@import "tailwindcss";

@theme {
  --animate-backdropIn: backdropIn 0.3s ease-out forwards;

  @keyframes backdropIn {
    0% {
      backdrop-filter: blur(0px);
      background-color: rgba(6, 78, 59, 0); /* sin fondo */
      opacity: 0;
    }
    100% {
      backdrop-filter: blur(8px); /* equivalente a backdrop-blur-xs */
      background-color: rgba(2, 18, 1, 0.4); /* bg-emerald-950/50 */
      opacity: 1
    }
  }

}


h1{
  font-family: "Gabarito", sans-serif;
}

*{
    font-family: "Quicksand", sans-serif;
}

.buttonCustom{
  transition: all 0.2s ease-out;
}

.buttonCustom:hover{
  transform: scale(1.05);
}